- content_for :page_title do
  SpambotValidator log

.flash-message.alert
  %strong This is not part of vanilla Mastodon.
  It only exists for
  - acc = Account.where(username: "nilsding", domain: nil).first
  - acc ||= Account.first
  = admin_account_inline_link_to(acc)
  to analyse stuffz.

%p
  This is just a log of all accounts + reasons why a status was filtered.
  %br
  The newest record is on top.

%p
  %details
    %summary
      At the moment there are #{SpambotValidator::FILTER_MATCHERS.size} reasons present. (click to expand)

    .table-wrapper
      %table.table
        %thead
          %tr
            %th Reason
            %th
            %th Regexp
        - SpambotValidator::FILTER_MATCHERS.each do |reason, regexp|
          %tr
            %td
              %code= reason.inspect
            %td= "=>"
            %td
              %code= regexp.inspect

    New reasons can be added by modifying the
    %code FILTER_MATCHERS
    constant inside
    = succeed "." do
      %code /app/validators/spambot_validator.rb

%p
  There are
  %strong= @filter_logs.size
  log records.
  - if @filter_logs.size.zero?
    Nice!

.table-wrapper
  %table.table
    %thead
      %tr
        %th Account
        %th Timestamp
        %th Reasons
    %tbody
      - @filter_logs.each do |log|
        %tr
          %td
            - if log.account.is_a?(Account)
              = admin_account_link_to(log.account)
            - else
              ID ##{log.account}
          %td= log.time
          %td= log.reasons.join(", ")
